* body {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    cursor: url("assets/cursor/cursor.png"), auto;
}

body {
    margin: 0;
     background: radial-gradient(#F6DDCC, #FDEBD0)
}

.page-title {
    color: #17202A;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

/* game-info-container represents the cards*/
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

/*game info represents the Time and Flip*/
.game-info {
    color: #17202A;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace; 
}

.card {
    background-color:white;
    height: 175px;
    width: 125px;
    border-style: solid;
    background-image: url(./assets/images/earth-icon.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }

/* game-container represents the cards, flip and time*/
.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}  

.card-face {
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     border-width: 1px;
     
 }

 .card:hover {
    cursor: url(assets/cursor/cursor-small.png), auto;
 }

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, .8);


    }
}

.overlay-text-small {
    font-size: .3em;
 }

 @media (max-width: 600px) {
     .game-container{
         grid-template-columns: repeat(2, auto);
     }
     .game-info-container {
         flex-direction: column;
         align-items: center;
     }
 }
 

 

 